*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	border:none;	
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic');

body{
	//height: 2000px;	
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
}

.container{
	width: 1138px;
}

.gray{
	background-color: #f5f5f5;
}

a{
	text-decoration: none;
	color: #fff;
}

ul{
	list-style:none;
}

p{
	font-size: 16px;
	color: #6e6e6e;
}

.opasity-b {
    display: none;
    position: fixed;
    z-index: 10000;
    background: rgba(0,0,0,0.22);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.opasity-b.open-b {
    display: block;
}

.padding-left-body{
    position: relative; 
    left: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.padding-left-body.pad-body-left{
	left: -219px;
	 background-color: rgba(0,0,0,0.19);
}

.cbp-spmenu-right {
    right: -280px;
}
.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.fixed-menu{
	background: #8d8989;
    position: fixed;
    width: 280px;
    z-index: 10001;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.top-head{
	padding-top: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.burg{
	width: 35px;
	height: 50px;
	cursor: pointer;
	background-color: transparent;
}

.top-menu.burg-right-margin{
	padding-right: 30px;
}

.burg span{
	display: block;
    margin: 5px auto 5px auto;
    width: 35px;
    height: 4px;
    background-color: #706b73;
}

 .burg span.burg-hover{
	display: none;
} 

.close{
	display:block;
	width: 32px;
	height: 32px;
	background-image: url(../img/close.png);	
	}

.close:hover{
	background-image: url(../img/close-white.png);	
}

.close-bg{
	background-color: #767676;
}


.top-nav h3{
	text-transform: uppercase;
	padding-top: 10px;
	text-align: center;
	color: #262627;
	font-size: 30px;
}

.top-nav > ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}



.top-nav li{
	margin-bottom: 10px;
	text-align: left;
}

.top-nav li:hover{
	background-color: #262627;
	  -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.top-nav a{
	display: block;
	padding: 10px;
	text-transform: uppercase;
}

.text-top{
	margin-top: 150px;
}

.text-header span{
	color: #fc7254;

}

.text-header{
	text-align: center;
	font-size: 50px;
}

.text-bottom{
	color: #b2adad;
	padding-top: 20px;
	text-align: center;
	line-height: 25px;
}

.send-message{
	margin-top: 110px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.send-cont{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}

.send-cont{
	background-color: #fff;
	-webkit-box-shadow: -8px -17px 46px 21px rgba(227,227,227,1);
-moz-box-shadow: -8px -17px 46px 21px rgba(227,227,227,1);
box-shadow: -8px -17px 46px 21px rgba(227,227,227,1);
}

.form-name-top{
	padding: 30px 0;
	text-align: center;
	font-size: 20px;
}

.form-name-top span{
	color: #ff7255;
}

.form-name input,
.form-email input,
.form-textarea input
{
	width: 300px;
	font-size: 15px;
	border-bottom: 1px solid #c7c7c7;
	padding-bottom: 10px;
	padding-top: 20px;
	margin-left: 30px;
}

.form-textarea input{
	padding-bottom: 50px;
}
.button{

	text-align: center;

}

.button input{
	opacity: 1;
	cursor: pointer;
	background-color: #ff5c36;
	color: #fff;
	margin-top: 20px;
	width: 200px;
	border-radius: 20px;
	font-size: 16px;
	padding: 20px 0;
}

/*-ms-transform: translate(15px,40px);
	-webkit-transform: translate(15px,40px);
	-o-transform: translate(15px,40px);
	-moz-transform: translate(15px,40px);
	transform: translate(15px,40px);*/
.button input:hover{
	opacity: 0.7;
}

.send-img img{
	margin-left: -10px;
	overflow: hidden;
	width: 100%;
	height: 100%;	
}

.work-proc{
	margin-top: 120px;	
	margin-bottom: 100px;
}


.work-proc-img ul{
	margin-top: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-around;
}

.work-proc-img ul li{
	margin-bottom: 30px;
	position: relative;
}

.but-work-proc{
	position: absolute;
	bottom: -15px;
	left: 30px;
}

.but-work-proc input:hover{
	color: #000;
	background-color: #84f396;
	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);	
	 -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.but-work-proc input{
	color: #737373;
	cursor: pointer;
	padding: 15px 50px;
	font-size: 16px;
	background-color: #fff;
	border-radius: 15px;
	font-weight: 400;
-webkit-box-shadow: 0px 1px 18px 0px rgba(50, 50, 50, 0.66);
-moz-box-shadow:    0px 1px 18px 0px rgba(50, 50, 50, 0.66);
box-shadow:         0px 1px 18px 0px rgba(50, 50, 50, 0.66);
}

.text-middle{
	padding-top: 135px;
	padding-bottom: 115px;
}

.gray-feature{
	background-color: #fbfbfb;
}
.feature-work{padding-bottom: 100px;}
.feature-work ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

 .feature-work li{
 	display: -webkit-flex;
 	display: -moz-flex;
 	display: -ms-flex;
 	display: -o-flex;
 	display: flex;
	justify-content: center;
	position: relative;
} 

.feature-work li img{
	
}

.feature-work a:hover img{ 
	opacity: 0.15;
	    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

  .feature-work a:before{
  	color: #fc8c76;
    font-size: 3em;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    content: '+';
    width: 70px;
    height: 70px;
    border-radius: 100em;
    display: block;
    position: absolute;
    top: 55%;
    left: 50%;
    line-height: 72px;
    margin: -35px 0 0 -35px;
    opacity: 0;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    vertical-align: middle;

}
 .feature-work a:hover:before {
    opacity: 1;
    top: 50%;
    left: 50%;
}

.servis-provider{

}

.servis-content{
	padding-bottom: 100px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.serv-img ul{

}

.serv-img li{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: baseline;
	padding-bottom: 10px;
}

.serv-img a img{
	border: 1px solid transparent;
	
}

.serv-img a:hover{
	-webkit-box-shadow: 0px 1px 18px 0px rgba(50, 50, 50, 0.66);
-moz-box-shadow:    0px 1px 18px 0px rgba(50, 50, 50, 0.66);
box-shadow:         0px 1px 18px 0px rgba(50, 50, 50, 0.66);
-webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;

}

.serv-text{
	
}

.serv-text-name{

	font-size: 30px;
	color: #676767;
	text-align: center;	
	padding-bottom: 40px;
}

.serv-text-name p{

}

.but-serv-text-name{
	text-align: center;
}
.but-serv-text-name input:hover{
	color: #000;
	background-color: #84f396;
	
	 -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.but-serv-text-name input{
	margin-top: 20px;
	color: #737373;
	cursor: pointer;
	padding: 15px 50px;
	font-size: 16px;
	background-color: #fff;
	border-radius: 15px;
	font-weight: 400;
-webkit-box-shadow: 0px 1px 18px 0px rgba(50, 50, 50, 0.66);
-moz-box-shadow:    0px 1px 18px 0px rgba(50, 50, 50, 0.66);
box-shadow:         0px 1px 18px 0px rgba(50, 50, 50, 0.66);
}

.serv-watch{
	margin-top: 10px;
}

.personal{
	padding-bottom: 150px;
}

.personal ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.personal li{
	margin-bottom: 40px;
	position: relative;	
}

.personal li img{
	vertical-align: top;
}

 .personal li .pers-db-hover{
	display: none;	
}

.personal li:hover .pers-db-hover {	
	display: block;	
	position: absolute;	
	background: -moz-linear-gradient(top,  rgba(255,243,240,0) 0%, rgba(255,243,240,0.7) 40%, rgba(255,243,240,1) 57%, rgba(255,243,240,1) 100%);
background: -webkit-linear-gradient(top,  rgba(255,243,240,0) 0%,rgba(255,243,240,0.7) 40%,rgba(255,243,240,1) 57%,rgba(255,243,240,1) 100%);
background: linear-gradient(to bottom,  rgba(255,243,240,0) 0%,rgba(255,243,240,0.7) 40%,rgba(255,243,240,1) 57%,rgba(255,243,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fff3f0', endColorstr='#fff3f0',GradientType=0 );
	bottom: 0px;
	left: 9px;
	right: 0;
	width: 336px;
	/* -webkit-transition:all 3s linear;
	    -moz-transition:all 3s linear;
	    -o-transition:all 3s linear;
	    transition:all 3s linear; */

}

.pers-stat {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;	
	align-items: center;
	justify-content: flex-end;	
	height: 409px;
}

.pers-name-hover{
color: #202020;
font-size:30px; 
font-weight: 600;
}

.pers-dolg-hover{
	color: #ff724c;
}

.pers-soc a{
	display: inline-block;
	margin: 15px 5px 15px 0px;
}


.pers-soc-t{
	display:block;
	width: 20px;
	height: 18px;
	background-image: url(../image/personal-social-t.png);
	background-repeat: no-repeat;
}

.pers-soc-t:hover{
	background-image: url(../image/personal-social.png);	
	  -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.pers-soc-f{
	display:block;
	width: 14px;
	height: 22px;
	background-image: url(../image/personal-sss.png);
	background-repeat: no-repeat;	
	}

.pers-soc-f:hover{
	background-image: url(../image/personal-social-ff.png);	
	  -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


.pers-db{	
	padding: 10px 47px;
	background-color: #ffffff;
	position: absolute;
    bottom: -15px;
    left: 45px;
}

.pers-name{
	font-size: 30px;
	font-weight: 600;
}

.pers-name{

	text-align: center;
}

.pers-dolg{
	text-align: center;
}

.pers-skill{
	margin-bottom: 20px;
}

.pers-skill p{
	font-size: 12px;
	margin-top: 8px;
	text-align: center;
}

.wrap {	
	width: 150px;	
	background: #817f7e;	
}

.prog-bar, .prog-bar-2, .prog-bar-3 {
	width: 75%;
	height: 5px;
	background-color: #ff6e47;
	-webkit-animation-name: slide;
	-moz-animation-name: slide;
	-o-animation-name: slide;
	animation-name: slide;

	-webkit-animation-duration: 0.8s;
	-moz-animation-duration: 0.8s;
	-o-animation-duration: 0.8s;
	animation-duration: 0.8s;

	-webkit-animation-timing-function: ease-out;
	-moz-animation-timing-function: ease-out;
	-o-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
} 

.prog-bar-2 {
	width: 60%;
	-webkit-animation-name: slide-2;
	-moz-animation-name: slide-2;
	-o-animation-name: slide-2;
	animation-name: slide-2;	
} 

.prog-bar-3 {
	width: 90%;
	-webkit-animation-name: slide-3;
	-moz-animation-name: slide-3;
	-o-animation-name: slide-3;
	animation-name: slide-3;	
} 

 @-webkit-keyframes slide {
	0%   { width:   0%; }	
	75%  { width:  75%; }
}
@-moz-keyframes slide {
	0%   { width:   0%; }	
	75%  { width:  75%; }
}
@-o-keyframes slide {
	0%   { width:   0%; }	
	75%  { width:  75%; }
}
@keyframes slide {
	0%   { width:   0%; }	
	75%  { width:  75%; }
}

 
 @-webkit-keyframes slide-2 {
	0%   { width:   0%; }	
	60%  { width:  60%; }
}
@-moz-keyframes slide-2 {
	0%   { width:   0%; }	
	60%  { width:  60%; }
}
@-o-keyframes slide-2 {
	0%   { width:   0%; }	
	60%  { width:  60%; }
}
@keyframes slide-2 {
	0%   { width:   0%; }	
	60%  { width:  60%; }
}


 @-webkit-keyframes slide-3 {
	0%   { width:   0%; }	
	90%  { width:  90%; }
}
@-moz-keyframes slide-3 {
	0%   { width:   0%; }	
	90%  { width:  90%; }
}
@-o-keyframes slide-3 {
	0%   { width:   0%; }	
	90%  { width:  90%; }
}
@keyframes slide-3 {
	0%   { width:   0%; }	
	90%  { width:  90%; }
}

.people-said{
	padding-bottom: 100px;
}

.people-said ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-around;
}

.people-said li.p-s-1::before{	
	content: url(../image/foto-people.png);
	position: absolute;
	top: -35px;
	align-self: center; 	
}

.people-said li.p-s-2::before{	
	content: url(../image/foto-people-2.png);
	position: absolute;
	top: -35px;
	align-self: center; 	
}

.people-said li{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: center;
	-webkit-box-shadow: 0px 1px 21px 0px rgba(50, 50, 50, 0.63);
-moz-box-shadow:    0px 1px 21px 0px rgba(50, 50, 50, 0.63);
box-shadow:         0px 1px 21px 0px rgba(50, 50, 50, 0.63);
		padding: 74px 50px;
		margin-top: 60px;
	
}

.people-said li p{
	text-align: center;
}

.people-said li img{
	padding: 20px 0;
}

.comment-name span{
	font-weight: 800;
}

.people-span{
	height: 6px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	justify-content: center;
	margin-bottom: 200px;
}

.people-span span{	
	width: 20px;
	margin-right: 20px;
	background-color: #e0e0e0;
	border-radius: 5px;
}

.people-span span:nth-of-type(1){
background-color: #ff6e47;
}

.partners{
	
}

.partners ul{
	padding: 50px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: center;
	align-items: center;	
}

.partners li{	
	margin: 0px 30px;
	padding-bottom: 10px;
}

.gray-footer{
	background-color: #f7f7f7;
}

.footer{

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items:center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.footer-but{
	padding-top: 50px;
	padding-bottom: 40px;
}

.footer-social{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.footer-social a{
	margin-right: 15px;
	margin-bottom: 10px;
	display: block;
	width: 54px;
	height: 52px;
	background-image: url(../img/footer-social-t.png);
}

.footer-social a:hover{
	-webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear;
	background-image: url(../img/footer-social-t-hover.png);
}



/*MEDIA SCREENS*/

@media only screen and (min-width: 481px){

}

@media only screen and (max-width: 767px){
	.container{
		width: 100%;
	}

	.container-fluid{
		width: 100%;
	}

	  .work-proc-img ul{
  	-webkit-flex-direction: column;
  	-moz-flex-direction: column;
  	-ms-flex-direction: column;
  	-o-flex-direction: column;
  	flex-direction: column;
  	align-items: center;
  	}

  	  .personal ul{
  	-webkit-flex-direction: column;
  	-moz-flex-direction: column;
  	-ms-flex-direction: column;
  	-o-flex-direction: column;
  	flex-direction: column;
  	align-items: center;
  	}

	.serv-img ul{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-webkit-flex-direction: row;
			-moz-flex-direction: row;
			-ms-flex-direction: row;
			-o-flex-direction: row;
			flex-direction: row;
			-webkit-flex-wrap: wrap;
			-moz-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			-o-flex-wrap: wrap;
			flex-wrap: wrap;

		}

		.servis-content{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		align-items: center;		
		}
	
}

@media only screen and (min-width: 768px) {	
	.container{
		width: 768px;
	}
  .container-fluid{
  	width: 100%;
  }



}



 @media only screen and (max-width: 1023px){

 }

 @media only screen and (min-width: 1024px) {

  .container {
    width: 1024px;
  }

  .container-fluid{
  	width: 100%;
  }

 }


 @media only screen and (min-width: 1200px) {

  .container {
    width: 1138px;
  }
    .container-fluid{
  	width: 100%;
  }

 
 }  